.addAddress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.radioAddress {
    display: grid;
    grid-template-columns: 30px 250px 70px;
    margin-top: 30px;
justify-content: center;
    width:95%;
    margin-left:auto;
    margin-right: auto;
    padding: 3px;
    border-radius: 15px;
    margin-bottom: 0.5em;
    background-color:#f7f7f7;
    animation: more 1s linear;
    
}

.addressLabel
{
    margin-left:18px;
}
.radioAddress__fullAddress {
    word-wrap: break-word;
    white-space: pre-wrap;
}
.Subtotal{
    
    margin:12px auto;
    width:90%;
    padding:10px;
    justify-content: center;
    border-radius: 5px;
    background-color:#34c289;
    color:#fff;

}
.Subtotal>p{
    font-weight: 700;
    letter-spacing: 1px;
  
  }

  .radioAddress__button{
      margin-bottom: 3em;
  }
  .show{
      font-weight: 700;
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 8rem;
      
  }
  
   @keyframes more{
       0%{
    opacity: 0;
    
       }
       50%{
opacity: 0.5;

       }
       100%{
opacity: 1;

       }
   }
   @media(max-width:330px){
    .radioAddress {
        display: grid;
        grid-template-columns: 20px 200px 50px;
        margin-top: 30px;
    justify-content: center;
        width:95%;
        margin-left:auto;
        margin-right: auto;
        padding: 3px;
        border-radius: 15px;
        margin-bottom: 0.5em;
        background-color:#f7f7f7;
        animation: more 1s linear;
        
    }
   }