.home {
  
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.home__row {
  display: flex;
  z-index: 1;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  position: relative;
  top:-2.5rem;
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
  z-index: -1;
  object-fit:fill;
  height: 100%;
  margin-bottom: -20px;
  
}

.search{
  padding: 10px;
  padding-left: 25px;
  font-family: montserrat;
  font-size: 14px;
  display: block;
  border: 1.5px solid grey;
  border-radius: 7px 7px 7px 7px !important;
  outline: none;
  margin-top: 0px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: #f1f1f1;
  background-image:url(../../assets//images/search.png); 
  background-size: 15px;
  background-repeat: no-repeat; 
  background-position:5px 12px;
}
